{% extends "_layouts/main" %}
{% import "_macros/slider" as macros %}

{% block header %}
    {{ macros.slider }}
{% endblock %}
    

{% block content %}
    {{entry.text}}



{# Focal Points abrufen und anwenden #}
  {% set image = entry.image.one() %}
  {% if image.hasFocalPoint %}
    {% set position = image.getFocalPoint() %}
    {% set position = position|merge({
      x: position.x * 100 ~ '%',
      y: position.y * 100 ~ '%',
    }) %}

    {% set position = position|join(" ") %}
  {% else %}
    {% set position = '50% 50%' %}
  {% endif %}

  <div class='background' style='background-image:url( {{ image.getUrl() }});background-position:{{ position }};height: 1000px'></div>

  {# Focal Points ENDE #}


    <h1 class="my-4">Meine Projekte</h1>
    <!-- Marketing Icons Section -->
    <div class="row">
    {% for i in 0..2 %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Projekt {{i+1}}</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

        <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>
    <!-- /.row -->
{% endblock %}