{% extends "_layouts/main" %}
{% import "_macros/slider" as macros %}

{% block header %}
    {{ macros.slider }}
{% endblock %}
    

{% block content %}
    {{entry.text}}

    {# Bildgröße festlegen #}
    {% set IMGsize = {
        mode: 'crop',
        width: 2500,
        height: 600,
        quality: 75,
        position: 'center-center'
    } %}
  
    {% set width = entry.fpWidth~"%" %}{{width}}
    {% set height = entry.fpHeight~"%" %}{{height}}

    {% set focalPoint = image.focalPoint | default( '60% 60%' ) %}
    <div class='background' style='background-image: url( {{ entry.image.one().getUrl() }} );
                                    background-position: {{ focalPoint }}; height: 600px'>
    </div>
  
    <h1 class="my-4">Meine Projekte</h1>
    <!-- Marketing Icons Section -->
    <div class="row">
    {% for i in 0..2 %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Projekt {{i+1}}</h4>
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->
{% endblock %}