<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Lars Schleyer - Sandbox</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ craft.app.sites.primarySite.baseUrl }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ craft.app.sites.primarySite.baseUrl }}css/modern-business.css" rel="stylesheet">
  <link href="{{ craft.app.sites.primarySite.baseUrl }}css/mystyle.css" rel="stylesheet">
  <link href="{{ craft.app.sites.primarySite.baseUrl }}css/news-grid.css" rel="stylesheet">
  </head>

<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">LS - Sandbox</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ craft.app.sites.primarySite.baseUrl }}aboutme">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ craft.app.sites.primarySite.baseUrl }}projekte">Projekte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ craft.app.sites.primarySite.baseUrl }}cv">Lebenslauf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ craft.app.sites.primarySite.baseUrl }}kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    {% block header %}
    {% endblock %}
  </header>

  <!-- Page Content -->
  <div class="container">

    {% block content %}
    {% endblock %}

    <hr>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <a href="http://lars.schleyer-sw.de" target="_blank">lars.schleyer-sw.de</a></p>
      <ul style="list-style:none; color:#ddd">
        <a href="{{ craft.app.sites.primarySite.baseUrl }}allgemeines/impressum"><li class="footer_li">Impressum</li></a>
        <a href="{{ craft.app.sites.primarySite.baseUrl }}allgemeines/datenschutz"><li class="footer_li">Datenschutz</li></a>
        <a href="{{ craft.app.sites.primarySite.baseUrl }}allgemeines/sonstiges"><li class="footer_li">Sonstiges</li></a>
      </ul>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
